body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #db1dce;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.menu {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}

.menu h2 {
    margin-bottom: 20px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(33% - 40px); /* Adjusting for margins */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin: 10px 0;
}

.menu-item p {
    color: #666;
}

.menu-item button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
